.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #1c1c1cec;
  position: fixed;
  padding: 6rem 0 0 0;
  z-index: 99;
}
.contentWrapper {
  padding: 0 2rem;
}
.content {
  display: flex;
  font-size: 1.2rem;
  position: relative;
  gap: 1.1rem;
  flex-direction: column;
  font-weight: 600;
  font-family: Circular, custom-font, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
.link {
  opacity: 0.8;
  border-bottom: 1px solid rgba(255, 255, 255, 0.132);
  padding: 0 0 0.6rem 0;
}
.link:hover {
  opacity: 1;
}
.ctaWrapper {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  position: relative;
  top: 3rem;
}
.primaryBtn {
  font-size: 1rem;
  padding: 0.6rem 2.3rem;
  background-color: var(--accent);
  border-radius: 5px;
  font-weight: 600;
  border: 1px solid rgba(255, 255, 255, 0.46);
}
.secondaryBtn {
  font-size: 1rem;
  padding: 0.6rem 2.3rem;
  background-color: var(--primary);
  color: var(--secondary);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.46);
  font-weight: 600;
}
.primaryBtn:hover {
  opacity: 0.85;
}
.secondaryBtn:hover {
  opacity: 0.85;
}
.active {
  display: block;
}
.deactive {
  display: none;
}

/* Media Queries */
@media (width >= 750px) {
  .container {
    display: none;
  }
}
