@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #6f2dbd;
  --primary: #1c1c1c;
  --secondary: #e5cce8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #e5cce8;
  font-family: Circular, custom-font, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  outline: none;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
  scroll-padding-top: 6rem;
  background-color: #1c1c1c;
}

html {
  scroll-behavior: smooth;
  color-scheme: dark;
}

*::selection {
  background: #ead4ed;
  color: black;
}
