@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #8a3ae6;
  --primary: #1c1c1c;
  --secondary: #e5cce8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #e5cce8;
  font-family: "Poppins", sans-serif;
  outline: none;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
  scroll-padding-top: 6rem;
  background-color: #1c1c1c;
}

html {
  scroll-behavior: smooth;
  color-scheme: dark;
}

*::selection {
  background: #ead4ed;
  color: black;
}
